html
  head
    title Images
    block styles
      link(rel="stylesheet" type="text/css" href="/css/style.css")
  body
    h1 List of images
    
  each image, index in images
    form(id='image', action='/imagedetails', method='post')
      input(type='hidden', name='imagename', value=image)
      input(type='submit', value=image)
