html
  head
    title Images
    block styles
      link(rel="stylesheet" type="text/css" href="/css/style.css")
  body
    h1 List of images
    
    ul
      each image, index in images
        li #{image}

