body {
  font-family: Verdana;
  font-size: 13px;
  background: #eee;
}

ul {
  list-style-type: none;
}

input[type=submit] {
  border: none;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
}

form {
  border: 0px;
  padding: 0px;
  margin: 0px;
}
